@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
}

.title {
	font-family: "Playfair Display SC", sans-serif;
	font-size: 1rem;
	text-align: center;
}

.home {
	padding: 0 1em;

	form {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid black;
		height: 3em;
		margin: 1em;

		button,
		input {
			background: none;
			border: none;
			font-size: 1rem;
		}

		input {
			width: 100%;
		}
	}
}
.section-title {
	margin-top: 2em;
}

.recipes {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe {
	width: 10rem;
    margin: 1em 0;
	border-radius: 1em;
	box-shadow: 0 0 1em rgb(210, 210, 210);


	img {
		border-radius: 1em;
		width: 100%;
	}
	p {
		margin: 0;
		font-size: 0.8rem;
	}
	.content {
		display: grid;
		grid-template-columns: 70% auto;
		padding: .5em;
	}


	.recipe-calories {
		color: #747474;
	}

	.btn {
		background: #f6851d;
		justify-self: end;
		align-self: center;
		color: white;
		display: grid;
		place-content: center;
		text-decoration: none;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}
}
