@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.title {
  font-family: "Playfair Display SC", sans-serif;
  text-decoration: none;
}

.home form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #747474;
}

.home form button,
.home form input {
  background: none;
  border: none;
}

.home form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Poppins', sans-serif;
}

.section-title {
  font-family: "Playfair Display SC", sans-serif;
  padding: 1em 0;
  font-size: 1.2rem;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recipe {
  margin: 1em;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.recipe a {
  text-decoration: none;
}

.recipe a .recipelabel {
  color: black;
  font-weight: bold;
}

.recipe a .content {
  padding: 1em;
}

.recipe a p, .recipe a span {
  color: #747474;
  margin: 0;
}

.recipe a img {
  width: 100%;
}

.recipedetails section {
  margin: 1em 0;
}

.recipedetails section.main img {
  max-width: 100%;
}

.recipedetails section.main .healthlabels {
  margin-top: 1em;
  border: 2px solid #747474;
  padding: 1em;
  border-radius: 10px;
}

.recipedetails section.main .healthlabels p {
  color: #747474;
}

.recipedetails section.ingredients .servings {
  color: #747474;
}

.recipedetails section.nutrients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipedetails section.nutrients h5 {
  width: 100%;
  text-align: start;
}

.recipedetails section.nutrients span {
  color: #747474;
}

.recipedetails section.nutrients a {
  text-decoration: none;
  background-color: #ff9422;
  padding: .5em;
  color: white;
  border-radius: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.recipedetails .divider {
  height: 2px;
  width: 100%;
  background: #ff9422;
}

@media only screen and (min-width: 768px) {
  .recipe {
    width: 45%;
  }
  .recipedetails .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 0;
  }
  .recipedetails .content .healthlabels {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1em;
    width: 30rem;
  }
}

@media only screen and (min-width: 1024px) {
  .recipe {
    margin: 1em .5em;
    width: 23%;
  }
}

@media only screen and (min-width: 1440px) {
  .recipe {
    width: 18%;
  }
}
/*# sourceMappingURL=App.css.map */