@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
}

.title {
	font-family: "Playfair Display SC", sans-serif;
	font-size: 1rem;
	text-align: center;
}

.home {
	padding: 0 1em;

	form {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid black;
		height: 3em;
		margin: 1em;

		button,
		input {
			background: none;
			border: none;
			font-size: 1rem;
		}

		input {
			width: 100%;
		}
	}
}
.section-title {
	margin-top: 2em;
}

.recipes {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe {
	width: 10rem;
    margin: 1em 0;
	border-radius: 1em;
	box-shadow: 0 0 1em rgb(210, 210, 210);


	img {
		border-radius: 1em;
		width: 100%;
	}
	p {
		margin: 0;
		font-size: 0.8rem;
	}
	.content {
		display: grid;
		grid-template-columns: 70% auto;
		padding: .5em;
	}


	.recipe-calories {
		color: #747474;
	}

	.btn {
		background: #f6851d;
		justify-self: end;
		align-self: center;
		color: white;
		display: grid;
		place-content: center;
		text-decoration: none;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}
}

.recipe-details {
	.top {
		padding: 1em;
		display: flex;
		justify-content: space-between;

		.left {
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			.btn {
				background: #f6851d;
				color: white;
				border-radius: 50%;
				width: 2rem;
				height: 2rem;
				display: grid;
				place-content: center;
				text-decoration: none;
				font-size: 1.5rem;
			}

			.recipe-title {
				h1, p {
					margin: 0;
				}
				h1 {
					font-size: 1rem;
				}
				p {
					color: #747474;
				}
			}
		}

		img {
			width: 10rem;
			border-radius: 1em;
		}
	}
	.highlight {
		font-size: 1.2rem;
		color: #f6851d;
	}
	.specs {
		display: flex;
		justify-content: space-between;
		padding: 0 1em;
	}

	.ingredients {
		.ingre-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1em;

			p:nth-child(1) {
				font-size: 1.2rem;
			}

			p:nth-child(2) {
				color: #747474;
			}
		}

		ol {
			list-style: none;
			padding: 0 1em;

			li {
				padding: .5em;
			}
			
		}
	}
	button {
		background-color: #f6851d;
		border: none;
		padding: 1em;
		border-radius: 2em;
		margin: 1em;
		display: grid;
		justify-self: center;

		a {
			color: white;
			text-decoration: none;

		}
	}
}